.header {
    position: fixed;
    width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-black, 1);
  color: $color-white;
  z-index: 420;
  @media screen and (max-width: 1000px) {
    justify-content: space-between;
    padding: 0 7.5% 0 5%;
  }
  &__logo {
    height: 4rem;
    margin: 1.4rem 0;
    &--container {
        display: flex;
        align-items:center;
    }
  }
  &__title {
    text-decoration: none;
    color: $color-white;
    padding: 1rem 5rem 1rem 1rem;
    font-size: 2rem;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    padding: 1.5rem;
    transition: all 0.4s;
    cursor: pointer;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__link:hover {
    color: $color-red;
  }
  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    &--mobile {
        display: flex;
        flex-direction: column;
        margin-left: 6%;
        margin-top: 2rem;
    }
    @media screen and (max-width: 1000px) {
        display: none;
      }
  }
  &__social {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    &--mobile a {
        color: white;
    }
    &--link {
      color: white;
      transition: all 0.4s;
    }
    &--link:hover {
      color: $color-red;
    }
    &--icon {
      font-size: 2rem;
      padding: 0.5rem;
    }
    &--address {
      font-size: 1.2rem;
      text-align: center;
      margin-top: -0.4rem;
      
    }
  }
  &__mobile {
    &--open {
      display: none;
      z-index: 1000;
      & img {
        height:1.2rem;

      }
    
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
    &--close {
      display: none;
      z-index: 1000;
      & img {
        height:1.8rem;
    
      }
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
    &--drawer {
      display: none;
      z-index: 1000;
      position: absolute;
      top: 65px;
      left: 0px;
      width: 100vw;
      height:100vh;
      background-color: rgb(1,1,1);
      border-top: 1px solid rgba(135,135,135,.35);
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
    &--links {
        display: flex;
        flex-direction:column;
        padding: 2rem 1rem 0 1rem;
    }
    &--link {
        text-decoration: none;
        color: $color-white;
        padding: 0 5%;
        width: 90%;
        font-size:2.4rem;
        cursor: pointer;
    }
  }
  
}
