.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-black, 1);
  color: $color-white;

  &__logo {
    height: 4rem;
    margin: 1.4rem 0;
  }
  &__title {
    text-decoration: none;
    color: $color-white;
    padding: 1rem 5rem 1rem 1rem;
    font-size: 2rem;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    padding: 1.5rem;
    transition: all 0.4s;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  &__link:hover {
    color: $color-red;
  }
  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  &__social {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    &--link {
      color: white;
      transition: all 0.4s;
    }
    &--link:hover {
      color: $color-red;
    }
    &--icon {
      font-size: 2rem;
      padding: 0.5rem;
    }
    &--address {
      font-size: 1.2rem;
      text-align: center;
      margin-top: -0.4rem;
    }
  }
  //   &__mobile {
  //     &--button {
  //       display: none;
  //     }
  //   }
}

// turn (
//     <header className="header">
//       <img className="header__logo" src={Logo} alt="logo" />
//       <NavLink
//         className="header__title"
//         to="/home"
//         activeClassName="header__link-active"
//         exact={true}
//       >
//         Tokyo Ramen
//       </NavLink>
//       <NavLink
//         className="header__link"
//         to="/about"
//         activeClassName="header__link-active"
//         exact={true}
//       >
//         About
//       </NavLink>
