.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70rem;
  height: 70rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 auto;
  left: 50%;
  margin-left: -34rem;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal__image {
  height: 68rem;
  width: 68rem;
  padding: 1rem;
  border-radius: 4px;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
